/* Reset Elements */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}
table {empty-cells:show;}
object {display:block;}
/* Base Elements */
body {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;color:#000;}
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;}
/* Frame Properties */
#frame {margin:10px;}
/* General */
a.btn {padding:4px 8px;border:solid 1px #aaa;text-decoration:none;outline:none;}
a.btn:link, a.btn:visited {background-color:#eee;color:#1b4ca2;}
a.btn:active {background-color:#ddd;color:#fff;}
a.btn:hover, a.btn:focus {color:#ff0000;}
a.btn[disabled='disabled'] {border-color:#eee;background-color:#fff;color:#eee;}
.line {border-top:1px solid #ccc;border-bottom:1px solid #efefef;margin:8px auto;height:0;overflow:hidden;}
.controlpanel {padding:10px 0;}
/* Header */
h1 {margin-bottom:10px;font-size:200%;font-weight:bold;}
/* Middle */
.row {margin-bottom:4px;padding:4px;}
.row label {float:left;width:100px;margin-right:10px;text-align:right;}
#input1 {background-color:#eee;}
#output1 {background-color:#ddd;}
/* Footer */
.credit {margin:10px 0;font-size:80%;color:#666;}
.credit a:link, .credit a:visited {text-decoration:none;color:#666;}
.credit a:hover, .credit a:active {text-decoration:underline;color:#aaa;}
.badges ul {margin:0;padding:0;width:100%;}
.badges ul li {display:inline;}